/*---CATEGORIAS---*/

.categorias{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    column-gap: 0px;
    row-gap: 50px;
    margin: 0px auto;
    margin-top: 100px;
    grid-template-areas: 
    "img1 vacio1 txt1"
    "txt2 img2 vacio2"
    "img3 vacio3 txt3";
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 20px; 
        font-family: $font-principal;
            img{
                width: 100%;
                transition: 1s;
                &:hover{
                    transform: scale(1.03);
    
                }
            }
            h3{
                font-family: $font-principal;
                line-height: 90px;
                justify-content: center;
                font-style: italic;
                font-size: 6em;
                font-weight:300;
    
            }
            a{
                font-family: $font-secundaria;
                text-decoration: underline;
                padding: 5px;
                margin-top: 20px;
                margin-left: 70px;
                color: rgb(105, 104, 104);
                font-size: 12px;
                transition: 1s ease-out;
                &:hover{
                    transform: translateX(20px);
                    color: black;
                    font-weight: 700;
                }
    
            }
        }
    .img-enescena{
        grid-area: img1;
        grid-column: 1 / span 2;
        
    }
    .vacio1{
        grid-area: vacio1;
    }
    .txt-enescena{
        grid-area: txt1;
    }
    .img-viajes{
        grid-area: img2;
        grid-column: 2 / span 3;      
    }
    .vacio2{
        grid-area: vacio2;
    }
    .txt-viajes{
        grid-area: txt2; 
    }
    .img-print{
        grid-area: img3;
        grid-column: 1 / span 2;
    }
    .vacio3{
        grid-area: vacio3;
    }
    .txt-print{
        grid-area: txt3;           
    }
    
}


/*---SUBCATEGORIAS---*/

.titulo-categoria{
    h1{
        font-family: $font-principal;
        font-style: italic;
        text-align: center;
        font-weight: 300;
        font-size: 3em;
        margin-bottom: 20px;
        
    }
}

.swiper-slide{
    img{
        width: 100%;
        object-fit: cover;
    }
    .descripcion-foto{
        @include descripcion-foto (flex, row, space-between, center);
        margin-bottom: 40px;

        .titulo-fotos{
            font-family: $font-principal;
            font-style: italic;
            font-weight: 300;
            font-size: 15px;
            margin-top: 5px;

        }
        .subtitulo-fotos{
            font-family: $font-principal;
            font-weight: 300;
            font-size: 11px;
        }

    }
}

.swiper-button-next, .swiper-button-prev {
    color: rgba(193, 192, 192, 0.74);
}

:root {
    --swiper-navigation-size: 22px;
}

/*---PRINT---*/

.imprimibles{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    column-gap: 20px;
    row-gap: 50px;
    margin: 0px auto;
    margin-top: 50px;
    grid-template-areas: 
    "foto1 hueco1 info1"
    "info2 foto2 hueco2"
    "foto3 hueco3 info3";

    .foto1{
        grid-area: foto1;
        grid-column: 1 / span 2;
        img{
            width: 100%;
        }
    }
    .hueco1{
        grid-area: hueco1;
    }
    .info-foto1{
        grid-area: info1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .foto2{
        grid-area: foto2;
        grid-column: 2 / span 3;
        img{
            width: 100%;
        }
    }
    .hueco2{
        grid-area: hueco2;
    }
    .info-foto2{
        grid-area: info2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .foto3{
        grid-area: foto3;
        grid-column: 1 / span 2;
        img{
            width: 100%;
        }
    }
    .hueco3{
        grid-area: hueco3;
    }
    .info-foto3{
        grid-area: info3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
        h1{
            font-family: $font-principal;
            font-size: 1.5em;
            font-weight: 300;
            font-style: italic;

        }
        h2{
            font-family: $font-secundaria;
            font-size: 12px;
            font-weight: 300; 

        }
    
    .info-encargar{

        .dropdown{
            font-family: $font-secundaria;

            .btn{
                padding: 6px 15px 6px 15px;
                margin-top: 10px;
                font-size: 12px;
                border-radius: 0px;
            }
            .btn-secondary{
                background-color: black;
                border-radius: 0px;
                border: 0px;
                &:focus{
                    color: black;
                    background-color: white;
                    border: 0px;
                    box-shadow: none;

                }
            }
            .dropdown-item{
                font-size: 14px;
            }
            .btn-outline-dark{
                font-family: $font-secundaria;
            }

        }
    }
}