@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,300;0,400;0,800;1,300&family=Raleway:wght@100;200;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;700;800&family=Noto+Serif+Display:ital,wght@0,300;0,400;0,800;1,300&family=Raleway:wght@100;200;600;900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*KEYFRAME*/

@keyframes slide1 {
    from {
        margin-top: 50%;
        opacity: 0%;
}
    to {
        margin-top: 0%;
        opacity: 100%;
}
}

@keyframes imgdamero{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

.animate__animated{
    animation-delay: 0.06s;
    transition: ease-in;
}

